body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.countdown-item {
    margin: 0 20px;
    font-size: 24px;
}

span {
    display: block;
    font-size: 14px;
    margin-top: 5px;
    color: #888;
}
